[Desktop Entry]
Version=1.0
Icon=utilities-terminal
Type=Application
Categories=Application;
Name=Hash
Name[zh_CN]=哈希
Actions=MD4;MD5;SHA1;SHA224;SHA256;SHA384;SHA512;SHA3_224;SHA3_256;SHA3_384;SHA3_512;
X-DFM-MenuTypes=SingleFile;MultiFileDirs;SingleDir;

[Desktop Action MD4]
Name=MD4
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" MD4 %U

[Desktop Action MD5]
Name=MD5
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" MD5 %U

[Desktop Action SHA1]
Name=SHA1
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA1 %U

[Desktop Action SHA224]
Name=SHA224
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA224 %U

[Desktop Action SHA256]
Name=SHA256
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA256 %U

[Desktop Action SHA384]
Name=SHA384
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA384 %U

[Desktop Action SHA512]
Name=SHA512
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA512 %U

[Desktop Action SHA3_224]
Name=SHA3_224
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA3_224 %U

[Desktop Action SHA3_256]
Name=SHA3_256
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA3_256 %U

[Desktop Action SHA3_384]
Name=SHA3_384
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA3_384 %U

[Desktop Action SHA3_512]
Name=SHA3_512
Exec=deepin-terminal -e "/opt/apps/net.playhi.dde-file-manager-menu-quick-hash-plugin/files/bin/net.playhi.dde-file-manager-menu-quick-hash-plugin" SHA3_512 %U



