Package: net.playhi.dde-file-manager-menu-quick-hash-plugin
Version: 1.0.1.2
Section: utils
Priority: extra
Architecture: amd64
Depends: dde-file-manager (>= 4.0), dde-file-manager-menu-oem, deepin-terminal
Installed-Size: 3072
Maintainer: hiplayhi@playhi.net
Description: Add a group of items for calculating MD4, MD5, SHA1, SHA224, SHA256, SHA384, SHA512, SHA3_224, SHA3_256, SHA3_384, SHA3_512 in the dde-file-manager right-click menu.

